@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  background-image: linear-gradient(
      to top,
      transparent 50%,
      rgba(255, 255, 255, 1) 85%
    ),
    url("./assets/imgs/BackgroundImage.webp");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body {
    background-position: 75% 0;
  }
}

#root {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}

* {
  box-sizing: border-box;
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}
.slick-dots {
  bottom: 15px;
}
